// Headings
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;

// Text
$font-family-base         : "Roboto", sans-serif;
$font-size-small          : 12px;
$font-size-base           : 14px;
$font-size-medium         : 18px;
$font-size-large          : 20px;

// Animations
$transition-duration      : 120ms;

// Layout
$action-bar-height: 40px;
$action-bar-height-with-border: 41px;
$main-content-with-header-height: calc(100vh - #{$action-bar-height-with-border});

// Colors
$color-white: #fff;
$color-black: #000;
$bloqs-left-tabbar-color: #3b3e45;
$font-color-heading: #373b44;
$font-color-base: #5d6069;
$font-color-secondary: #8c919b;
$font-color-disabled: #c0c3c9;
$brand-secondary: #ddd;
$button-primary-hover-color: #26292f;
$button-secondary-color: #ebebeb;
$button-secondary-active-color: #d1d1d1;
$button-disabled-color: #dbdee3;
$bitbloq-color-gray: #cfcfcf;
$button-zowi-hover: #f3f3f3;
