// Headings
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;

// Text
$font-color-heading: #373b44;
$font-color-base: #5d6069;
$font-color-secondary: #8c919b;
$font-color-disabled: #c0c3c9;
$font-family-base         : "Roboto", sans-serif;
$font-size-small          : 12px;
$font-size-base           : 14px;
$font-size-medium         : 18px;
$font-size-large          : 20px;

// Animations
$transition-duration      : 120ms;

// Layout
$action-bar-height: 40px;
$action-bar-height-with-border: 41px;
$main-content-with-header-height: calc(100vh - #{$action-bar-height-with-border});

// Boxes
$color-white: #fff;
