html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: none; }

a,
button {
  -webkit-tap-highlight-color: transparent; }

a img {
  border: 0; }

select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button {
  overflow: visible;
  background: none;
  cursor: pointer;
  line-height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

input {
  -webkit-appearance: none; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  input[type="radio"], input[type="checkbox"] {
    border: 0;
    cursor: pointer;
    padding: 0 !important;
    width: auto !important; }
  input[type="button"], input[type="submit"], input[type="image"] {
    -webkit-appearance: button;
    cursor: pointer;
    outline: 0;
    overflow: visible; }
  input[type="disabled"], input[disabled], input[readonly],
  fieldset[disabled] input {
    -webkit-appearance: button;
    cursor: default;
    outline: 0;
    overflow: visible; }

input,
button,
select,
textarea {
  outline: 0; }

article,
aside,
audio,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
output,
section,
video {
  display: block; }

.lt-ie8 input[type="checkbox"] {
  vertical-align: baseline; }

.lt-ie8 legend {
  margin-left: -7px; }

/* Bicubic img IE */
.lt-ie8 img {
  -ms-interpolation-mode: bicubic; }

/* roboto-100 - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-100italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-100italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900 - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900italic - cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.woff2") format("woff2"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.woff") format("woff"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.ttf") format("truetype"), url("../fonts/roboto-v15-cyrillic_vietnamese_cyrillic-ext_greek-ext_latin-ext_latin_greek-900italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

.inline {
  display: inline-block; }

body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.bloq--extension--end .connector--bottom {
  z-index: 1 !important; }

.bloq--statement-input .bloq--statement-input__header span {
  z-index: 1 !important; }

.main__content {
  position: relative; }

.main__content--with-header {
  display: block;
  height: calc(100vh - 41px);
  overflow-y: auto; }

/*
From top to bottom: Dialogs 9 , Toasts 8, Dropdowns 7...
*/
.layer-1 {
  z-index: 1; }

.layer-2 {
  z-index: 2; }

.layer-3 {
  z-index: 3; }

.layer-4 {
  z-index: 4; }

.layer-5 {
  z-index: 5; }

.layer-6 {
  z-index: 6; }

.layer-7 {
  z-index: 7; }

.layer-8 {
  z-index: 8; }

.layer-9 {
  z-index: 9; }

.h1 {
  font-size: 24px; }

.h2 {
  font-size: 20px; }

.h3 {
  font-size: 16px; }

body {
  color: #5d6069;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

.icon--vsmall {
  height: 13px;
  width: 13px; }

.icon--small {
  height: 18px;
  width: 18px; }

.icon--medium {
  height: 24px;
  width: 24px; }

.icon--large {
  height: 27px;
  width: 27px; }

.icon--vlarge {
  height: 50px;
  width: 50px; }

.icon--text {
  display: inline-block;
  vertical-align: middle; }

.actionbar {
  border-bottom: 1px solid #ebebeb;
  height: 40px; }
  .actionbar button {
    transition: background-color 120ms; }
    .actionbar button:hover {
      background-color: #ebebeb; }
  .actionbar .actionbar__menu__left,
  .actionbar .actionbar__menu__right {
    display: inline-block;
    vertical-align: middle; }
  .actionbar .menu {
    display: inline-block;
    position: relative; }
    .actionbar .menu .menu__heading {
      display: block;
      padding: 20px 10px; }
      .actionbar .menu .menu__heading.active {
        background-color: #ebebeb; }
      .actionbar .menu .menu__heading:hover {
        background-color: #ebebeb; }
      .actionbar .menu .menu__heading h3 {
        font-size: 14px;
        font-weight: normal;
        pointer-events: none; }
    .actionbar .menu .menu__dropdown {
      background-color: #fff;
      border: 1px solid #ebebeb;
      left: 0;
      position: absolute;
      top: 40px;
      white-space: nowrap; }
      .actionbar .menu .menu__dropdown .menu__dropdown__item__button {
        padding: 10px;
        text-align: left;
        width: 100%; }
        .actionbar .menu .menu__dropdown .menu__dropdown__item__button.disabled {
          background-color: #cfcfcf !important;
          pointer-events: none;
          color: #666; }
        .actionbar .menu .menu__dropdown .menu__dropdown__item__button span {
          font-size: 14px;
          margin-left: 5px; }
  .actionbar .actionbar__menu__right {
    float: right; }
    .actionbar .actionbar__menu__right .actionbar__software__actions__item {
      display: inline-block;
      float: left;
      vertical-align: middle; }
      .actionbar .actionbar__menu__right .actionbar__software__actions__item .actionbar__software__actions__item__button {
        border: 1px solid #ebebeb;
        border-bottom: 0;
        border-right: 0;
        padding: 7px 15px; }
        .actionbar .actionbar__menu__right .actionbar__software__actions__item .actionbar__software__actions__item__button svg {
          fill: #3b3e45; }

.btn--make--disabled {
  background-color: #cfcfcf !important;
  pointer-events: none;
  color: #666; }

dropdown .menu .menu__heading.disabled {
  background-color: #cfcfcf !important;
  pointer-events: none;
  color: #666; }

dropdown .menu .menu__dropdown {
  list-style: none; }

.tab {
  overflow-y: auto;
  max-height: 100%; }

.tablist {
  background-color: #3b3e45;
  display: block;
  float: left;
  height: calc(100vh - 41px);
  width: 48px; }

.tabcontent {
  display: block;
  float: right;
  height: calc(100vh - 41px);
  position: relative;
  width: calc(100% - 48px);
  background-color: #ebebeb; }

.tabpanel {
  overflow: hidden; }

.tablist__item.active .tablist__item__button {
  background-color: #ebebeb; }
  .tablist__item.active .tablist__item__button:hover svg {
    fill: #000; }

.tablist__item.active svg {
  fill: #000; }

.tablist__item__button {
  border-bottom: 1px solid #797c81;
  padding: 15px;
  transition: background-color 120ms; }
  .tablist__item__button svg {
    fill: #797c81;
    transition: fill 120ms; }
  .tablist__item__button:hover svg {
    fill: #fff; }

.toolbox-shadow {
  width: 100%;
  height: 100%; }
  .toolbox-shadow.level--1 {
    background-color: rgba(55, 59, 68, 0.6);
    pointer-events: none; }
  .toolbox-shadow.level--2 {
    background-color: rgba(177, 177, 177, 0.44); }

.toolbox {
  position: absolute;
  background-color: #fff;
  border-left: 1px solid #edf1f2;
  height: 100%;
  right: 0;
  top: 0;
  transition: width 250ms;
  will-change: transform; }
  .toolbox.active {
    width: 250px; }
  .toolbox.inactive--1 {
    width: 450px; }
  .toolbox.inactive--2 {
    width: 500px; }

.toolbox__content {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  will-change: transform;
  transition: width 250ms; }
  .toolbox__content.active {
    z-index: 3;
    width: 400px; }
  .toolbox__content.inactive {
    width: 450px; }
  .toolbox__content.level--2 {
    width: 400px;
    z-index: 3; }
  .toolbox__content .content__list {
    height: calc(100vh - 85px);
    overflow: auto;
    overflow-x: hidden; }
    .toolbox__content .content__list.has-advanced {
      height: calc(100vh - 147px); }

.toolbox__content__item {
  border-left: 1px solid #edf1f2;
  text-align: center;
  height: calc(100vh - 42px); }
  .toolbox__content__item h3,
  .toolbox__content__item .title {
    text-align: left; }
  .toolbox__content__item h3 {
    border-bottom: 1px solid #edf1f2;
    padding: 16px 10px; }
  .toolbox__content__item .title {
    padding: 10px; }

.toolbox__list__item__button {
  border-bottom: 1px solid #edf1f2;
  text-align: left;
  width: 100%;
  height: 50px;
  line-height: 50px; }
  .toolbox__list__item__button svg {
    margin-left: 10px;
    fill: #b9bdc8; }
  .toolbox__list__item__button.last {
    position: absolute;
    bottom: 0;
    right: 0; }

.toolbox__advanced__button {
  padding-left: 10px;
  border-top: 1px solid #edf1f2;
  width: 100%;
  transition: background-color 120ms; }
  .toolbox__advanced__button:hover {
    background-color: #fbfbfb; }

.modal--container {
  text-align: center;
  white-space: nowrap; }
  .modal--container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .modal--container .ngdialog-overlay {
    z-index: -1; }
  .modal--container .ngdialog-content {
    border-radius: 5px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle; }
  .modal--container.modal--input .ngdialog-content {
    width: 500px; }
  .modal--container.modal--input .form--input {
    margin-top: 10px;
    margin-bottom: 20px; }
  .modal--container.modal--input .modal_languages .dropdown__menu {
    border-radius: .3em;
    border: 1px solid #cfcfcf;
    min-height: 34px;
    max-height: 34px;
    color: #8c919b;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .modal--container.modal--input .modal_languages .menu__heading {
    margin-left: 1em;
    margin-top: 1em; }
  .modal--container.modal--input .modal_languages .menu__dropdown {
    background-color: #fff;
    border: 1px solid #ebebeb;
    position: absolute;
    white-space: nowrap;
    margin-top: 11px;
    overflow-y: scroll;
    max-height: 275px;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    overflow-x: hidden; }
    .modal--container.modal--input .modal_languages .menu__dropdown .menu__dropdown__item__button {
      min-height: 34px;
      min-width: 420px;
      width: 100%;
      text-align: left;
      flex: 1 100%;
      padding-left: 1em;
      border-bottom: 1px solid #e4e4e4; }
      .modal--container.modal--input .modal_languages .menu__dropdown .menu__dropdown__item__button:hover {
        background-color: #ebebeb;
        cursor: pointer; }

.modal {
  height: 100%;
  text-align: left; }
  .modal .modal__dialog {
    height: 100%; }
    .modal .modal__dialog .modal__dialog__content {
      height: 100%; }
      .modal .modal__dialog .modal__dialog__content .modal__header {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #e2e2e2;
        line-height: 60px;
        color: #373b44;
        font-size: 16px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; }
        .modal .modal__dialog .modal__dialog__content .modal__header h1,
        .modal .modal__dialog .modal__dialog__content .modal__header .modal--close {
          display: inline-block;
          border-top-right-radius: 5px; }
        .modal .modal__dialog .modal__dialog__content .modal__header h1 {
          padding-left: 30px;
          width: calc(100% - 65px);
          cursor: default; }
        .modal .modal__dialog .modal__dialog__content .modal__header .modal--close {
          width: 60px;
          border: 1px solid #e2e2e2;
          border-bottom: 0;
          float: right; }
          .modal .modal__dialog .modal__dialog__content .modal__header .modal--close .btn__modal--close {
            width: 100%;
            height: 60px; }
          .modal .modal__dialog .modal__dialog__content .modal__header .modal--close .svg-icon__modal--close {
            fill: #c0c3c9;
            width: 13px;
            height: 13px;
            transition: 120ms; }
          .modal .modal__dialog .modal__dialog__content .modal__header .modal--close:hover .svg-icon__modal--close {
            transition: 120ms;
            fill: #939499; }
      .modal .modal__dialog .modal__dialog__content .modal__body {
        padding: 30px; }
      .modal .modal__dialog .modal__dialog__content .modal--buttons {
        padding: 0 30px 30px; }
        .modal .modal__dialog .modal__dialog__content .modal--buttons button {
          margin-right: 10px; }

.btn--primary {
  background-color: #373b44;
  padding: .8em 1em;
  border-radius: .3em;
  min-width: 145px;
  min-height: 50px;
  line-height: 27px;
  transition: background-color 250ms;
  text-decoration: none;
  color: #fff;
  font-weight: bold; }
  .btn--primary:hover {
    transition: background-color 250ms;
    text-decoration: none; }
  .btn--primary:active {
    text-decoration: none; }
  .btn--primary:hover {
    background-color: #26292f; }
  .btn--primary:active {
    background-color: #000; }

.btn--secondary {
  background-color: #ebebeb;
  padding: .8em 1em;
  border-radius: .3em;
  min-width: 145px;
  min-height: 50px;
  line-height: 27px;
  transition: background-color 250ms;
  text-decoration: none;
  color: #000; }
  .btn--secondary:hover {
    transition: background-color 250ms;
    text-decoration: none; }
  .btn--secondary:active {
    text-decoration: none; }
  .btn--secondary:hover {
    background-color: #ddd; }
  .btn--secondary:active {
    background-color: #d1d1d1; }

.btn--disabled {
  background-color: #dbdee3;
  padding: .8em 1em;
  border-radius: .3em;
  min-width: 145px;
  min-height: 50px;
  line-height: 27px;
  transition: background-color 250ms;
  text-decoration: none;
  color: #c0c3c9; }
  .btn--disabled:hover {
    transition: background-color 250ms;
    text-decoration: none; }
  .btn--disabled:active {
    text-decoration: none; }

.btn--small {
  max-height: 35px;
  min-height: 35px;
  line-height: 15px; }

dropdown .btn--dropdown {
  color: #8c919b;
  flex: 1;
  text-align: left;
  height: 34px;
  font-style: italic;
  min-width: 70px;
  padding-right: .2em;
  padding-left: .5em;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative; }
  dropdown .btn--dropdown .dropdown__heading {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    color: #5d6069;
    cursor: pointer;
    margin-left: .2em;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px; }
  dropdown .btn--dropdown :first-child {
    margin-left: 11px;
    font-style: normal; }

dropdown .btn--dropdown--active {
  color: #5d6069; }

.btn--reset--zowi {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin: 16px 16px 0;
  transition: background-color 120ms;
  border: 1px solid #cfcfcf; }
  .btn--reset--zowi:hover {
    background-color: #f3f3f3; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 10px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  100% {
    transform: none; } }

.bounceInDown {
  animation-name: bounceInDown; }

@keyframes removealert {
  0% { }
  100% {
    opacity: 0; } }

.alerts--container {
  position: absolute;
  margin: 0 auto;
  width: 600px;
  left: 0;
  top: 10em;
  right: 0;
  z-index: 999; }

.alert {
  padding: .5em 1em;
  border-radius: .2em;
  width: 600px;
  font-size: .9em;
  display: flex;
  align-content: center;
  align-items: center;
  opacity: 1;
  transition: all 200ms;
  background-color: #373b44;
  margin: .5em 0;
  animation-name: bounceInDown;
  animation-duration: 1s;
  color: white;
  min-height: 40px;
  position: fixed; }
  .alert.alert--removed {
    animation-name: removealert;
    animation-duration: 200ms; }
  .alert span {
    width: 90%;
    margin-right: .5em;
    display: inline-block;
    padding-left: 10px; }
    .alert span button {
      color: white;
      margin-left: .5em;
      text-decoration: underline; }
  .alert .icon--preicon {
    float: right;
    width: 13px;
    height: 13px; }
    .alert .icon--preicon.ok {
      fill: #62d017; }
    .alert .icon--preicon.info {
      fill: #62d017; }
    .alert .icon--preicon.loading {
      fill: white;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .alert .icon--preicon.warning {
      fill: #f23333; }
    .alert .icon--preicon.error {
      fill: #f23333; }
  .alert .alert--close {
    display: inline-block;
    float: right;
    width: 10%; }
    .alert .alert--close .svg-icon {
      width: 12px;
      height: 12px;
      float: right;
      fill: #dadada; }
    .alert .alert--close:hover .svg-icon {
      fill: #dadada;
      cursor: pointer; }

.scrollbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; }

.scrollbar--inner {
  width: 100%;
  height: 100%; }

common-dropdown {
  display: block; }

.dropdown__icon {
  width: 10px;
  height: 10px;
  fill: #8c919b;
  margin-right: .5em;
  margin-left: 1em;
  right: 2px;
  position: absolute;
  top: 12px; }

.dropdown--bottom {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-items: center; }

.dropwdown__menu {
  z-index: 9;
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  -webkit-border-bottom-right-radius: .3em;
  -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em;
  -moz-border-radius-bottomleft: .3em;
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .3em;
  background-color: white;
  max-height: 275px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 19px;
  margin-left: -16px; }

.dropdown__menu__item {
  flex: 1 100%;
  padding-left: 1em;
  border-bottom: 1px solid #e4e4e4;
  color: #5d6069; }
  .dropdown__menu__item:last-child {
    border-bottom: 0; }
  .dropdown__menu__item:hover {
    background-color: #ebebeb;
    cursor: pointer; }
  .dropdown__menu__item button {
    min-height: 34px;
    width: 100%;
    text-align: left; }

.dropdown--small .dropwdown__menu {
  max-height: 175px; }

.dropdown--disabled {
  background-color: #ebebeb;
  pointer-events: none; }

.input--checkbox {
  vertical-align: text-top;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin-right: .5em; }
  .input--checkbox input {
    background: none;
    border: none;
    width: 1.2em !important;
    height: 1.2em !important;
    -webkit-appearance: none;
    background-color: white;
    border-radius: .3em;
    border: 2px solid #c0c3c9; }
    .input--checkbox input:hover {
      transition: background-color 250ms;
      border: 2px solid #5d6069; }
    .input--checkbox input:checked {
      border: 1px solid #5d6069;
      border: none;
      background-color: #5d6069;
      background-image: url("../images/icons/verificarmini.svg");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center center; }
    .input--checkbox input:disabled {
      background-color: #c0c3c9; }
    .input--checkbox input:focus {
      transition: background-color 250ms;
      border: 2px solid #5d6069; }
  .input--checkbox .fa {
    position: absolute;
    top: .1em;
    left: .1em; }
    .input--checkbox .fa:before {
      content: '\f00c';
      color: white;
      top: -3px;
      position: relative;
      font-size: .85em;
      left: 1px; }

pre {
  height: calc(100vh - 83px); }

code {
  left: 40px; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99; }

.token.punctuation {
  color: #5F6364; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a; }

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8; }

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.important {
  font-weight: normal; }

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1; }

#bloqs--field {
  background-color: #EBEBEB;
  width: 100%;
  height: calc(100vh - 41px);
  overflow: auto; }

.bloq--group {
  position: relative;
  width: calc(100vw - 345px);
  margin: 15px;
  border-radius: 4px;
  display: table;
  table-layout: fixed; }
  .bloq--group p {
    white-space: normal; }
  .bloq--group h3 {
    cursor: pointer;
    cursor: hand;
    padding: .7em .7em .5em;
    color: #373b44;
    position: relative;
    float: left;
    font-size: 16px; }
  .bloq--group .btn--collapsefield {
    top: 17px; }
  .bloq--group .field--header {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    min-height: 40px; }
  .bloq--group .bloq--extension--info {
    height: auto;
    padding: 10px; }

.make--scrollbar {
  width: 17px;
  display: block;
  position: absolute;
  left: calc(100% - 230px);
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  top: 0; }

#make--horizontal-scrollbar {
  height: 17px;
  display: block;
  position: absolute;
  left: 70px;
  z-index: 3;
  overflow: hidden;
  overflow-x: auto;
  max-width: calc(100% - 300px);
  bottom: 0; }
  #make--horizontal-scrollbar > div {
    height: 17px; }

.software--scroll {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: calc(100% - 320px);
  overflow: auto;
  z-index: 2; }

.software--vscroll {
  position: absolute;
  bottom: 0;
  right: 258px;
  height: 100%;
  width: 20px;
  overflow: auto; }

.protocanvas {
  width: calc(100% - 285px);
  height: calc(100vh - 140px);
  position: relative;
  padding: 49px; }

.name--container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%; }

.component__container {
  height: 100%;
  width: 100%;
  opacity: 0; }

.component__message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: white; }

.board {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f3f3;
  height: 265px;
  width: 355px;
  outline: 4px dashed #c0c3c9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .board.bqZUM {
    background-image: url("../images/boards/bqZUM.png");
    background-color: transparent; }
  .board.FreaduinoUNO {
    background-image: url("../images/boards/FreaduinoUNO.png");
    background-color: transparent; }
  .board.ArduinoUNO {
    background-image: url("../images/boards/ArduinoUNO.png");
    background-color: transparent; }

.component__container--visible {
  opacity: .4;
  border: 4px dashed #c0c3c9; }
  .component__container--visible p {
    opacity: 1; }

.board--present p {
  display: none; }

.hw-context-menu {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .hw-context-menu.open {
    display: block; }
  .hw-context-menu .menu {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
    background-color: white; }
    .hw-context-menu .menu hr {
      border: 1px solid #ddd; }
    .hw-context-menu .menu .menu__item:hover {
      background-color: #ebebeb; }
    .hw-context-menu .menu .menu__item button {
      padding: 15px; }

.protocanvas {
  float: left;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  /* ** styles for jsplumb ** */
  /* jsPlumb connector styles */
  /* jsPlumb endpoint styles */
  /* jsPlumb overlay styles */ }
  .protocanvas.dragging-over.dragging-component .name--container {
    opacity: 0; }
  .protocanvas.dragging-over.dragging-component .component__container {
    border: 5px solid #f1c933; }
    .protocanvas.dragging-over.dragging-component .component__container.component__container--pseudovisible {
      border: 4px dashed #f1c933;
      opacity: .5; }
      .protocanvas.dragging-over.dragging-component .component__container.component__container--pseudovisible .component__message {
        opacity: 0; }
    .protocanvas.dragging-over.dragging-component .component__container.component__container--visible {
      border: 4px dashed #f1c933; }
      .protocanvas.dragging-over.dragging-component .component__container.component__container--visible .component__message {
        opacity: 1; }
  .protocanvas.dragging-over.dragging-board .board {
    outline: 4px dashed #f1c933 !important; }
  .protocanvas .name--container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11; }
    .protocanvas .name--container .component-name__container {
      opacity: 0;
      border-left: 2px solid #f1c933;
      border-right: 2px solid white;
      border-radius: 4px;
      box-shadow: 0 0 0 2px #f1c933;
      background-color: white;
      margin-top: 3%;
      height: 38px; }
      .protocanvas .name--container .component-name__container .form--input--reset {
        border: none;
        outline: none;
        min-height: inherit;
        max-height: inherit;
        height: inherit;
        width: inherit;
        display: flex; }
      .protocanvas .name--container .component-name__container .component-name__label {
        color: #000;
        font-weight: 900;
        padding: 12px 10px;
        background-color: #f1c933;
        display: inline-block;
        white-space: nowrap; }
      .protocanvas .name--container .component-name__container .component-name__input {
        padding: 8px 10px;
        min-width: 70px; }
      .protocanvas .name--container .component-name__container .input--checkbox__oscillator {
        display: flex;
        align-items: center;
        margin: 0; }
        .protocanvas .name--container .component-name__container .input--checkbox__oscillator .oscillator--checkbox {
          vertical-align: inherit;
          margin: 0 8px; }
      .protocanvas .name--container .component-name__container .baudrate__container {
        display: flex;
        align-items: center; }
        .protocanvas .name--container .component-name__container .baudrate__container .baudrate__dropdown {
          width: 115px;
          display: inline-block;
          vertical-align: middle;
          align-self: baseline;
          padding-top: 19px;
          padding-left: 10px; }
          .protocanvas .name--container .component-name__container .baudrate__container .baudrate__dropdown .form--select {
            border: none; }
  .protocanvas .component__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85%;
    height: 90%;
    opacity: 0;
    z-index: -1; }
    .protocanvas .component__container.component__container--visible {
      opacity: .4;
      border: 4px dashed #c0c3c9; }
    .protocanvas .component__container .component__message {
      margin-top: 5%;
      font-size: 1.5em;
      text-align: center;
      color: black;
      align-self: baseline; }
  .protocanvas .component__container,
  .protocanvas .board,
  .protocanvas .robot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; }
  .protocanvas .board,
  .protocanvas .robot {
    display: none; }
    .protocanvas .board.opaque,
    .protocanvas .robot.opaque {
      display: flex; }
  .protocanvas .robot {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f3f3f3;
    height: 265px;
    width: 355px;
    outline: 4px dashed #c0c3c9; }
    .protocanvas .robot.zowi {
      background-image: url("../images/robots/zowi.svg");
      background-color: transparent; }
    .protocanvas .robot.evolution {
      background-image: url("../images/robots/evolution.svg");
      background-color: transparent; }
    .protocanvas .robot.robot--selected {
      outline: 4px solid #f1c933 !important;
      background-color: transparent; }
    .protocanvas .robot.robot--present {
      outline: none; }
      .protocanvas .robot.robot--present .board__message {
        opacity: 0; }
    .protocanvas .robot .board__message {
      color: #000;
      font-size: 1.5em;
      display: flex;
      align-self: center;
      opacity: .4; }
  .protocanvas .board {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f3f3f3;
    height: 265px;
    width: 355px;
    outline: 4px dashed #c0c3c9; }
    .protocanvas .board.board--selected {
      outline: 4px solid #f1c933 !important;
      background-color: transparent; }
    .protocanvas .board.board--present {
      outline: none; }
      .protocanvas .board.board--present .board__message {
        opacity: 0; }
    .protocanvas .board .board__message {
      color: #000;
      font-size: 1.5em;
      display: flex;
      align-self: center;
      opacity: .4; }
  .protocanvas .component {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #aaaaaa 0 0 5px 1px;
    z-index: 10; }
    .protocanvas .component.component-selected, .protocanvas .component.jsplumb-dragged {
      box-shadow: 0 0 0 2px #f1c933;
      z-index: 998;
      cursor: grabbing;
      /* fallback if grab cursor is unsupported */
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
  .protocanvas .jsplumb-connector {
    cursor: pointer; }
    .protocanvas .jsplumb-connector.jsplumb-hover, .protocanvas .jsplumb-connector.selected {
      z-index: 998; }
  .protocanvas .jsplumb-endpoint {
    z-index: 10;
    cursor: pointer;
    border-radius: 10px; }
    .protocanvas .jsplumb-endpoint.board_ep {
      opacity: 0; }
    .protocanvas .jsplumb-endpoint.jsplumb-hover, .protocanvas .jsplumb-endpoint.selected {
      z-index: 999;
      opacity: 1; }
    .protocanvas .jsplumb-endpoint.dragActive {
      opacity: .6;
      background-color: #f19833 !important; }
    .protocanvas .jsplumb-endpoint.dragHover {
      opacity: .6;
      background-color: #f19833 !important; }
    .protocanvas .jsplumb-endpoint.dropHover {
      opacity: 1; }
    .protocanvas .jsplumb-endpoint.jsplumb-drag {
      opacity: 1 !important;
      background-color: #f19833 !important; }
    .protocanvas .jsplumb-endpoint.jsplumb-endpoint-connected {
      background-color: #f1c933;
      outline: none;
      opacity: 1; }
      .protocanvas .jsplumb-endpoint.jsplumb-endpoint-connected + .jsplumb-overlay {
        background-color: #f19833 !important; }
    .protocanvas .jsplumb-endpoint.component_endpoint {
      outline: none !important; }
  .protocanvas .jsplumb-overlay {
    z-index: 53;
    transition: opacity 80ms ease-in;
    opacity: 0; }
    .protocanvas .jsplumb-overlay.jsplumb-hover {
      transition: opacity 80ms ease-in;
      opacity: 1;
      font-size: 1em;
      padding: 2px 4px;
      background-color: #f1c933; }

.opaque {
  opacity: 1 !important; }

.line-numbers {
  padding-left: 1em !important; }
  .line-numbers code {
    position: static; }

.toolbox-sw .content__list {
  padding-top: 10px; }

.toolbox-sw .content__list__item {
  text-align: left;
  padding: 5px 15px; }
  .toolbox-sw .content__list__item .bloq {
    position: relative; }

.toolbox-sw .toolbox__title {
  display: block;
  width: calc(100% - 20px);
  float: left; }

.toolbox-sw .toolbox__title--color {
  height: 100%;
  display: block;
  width: 10px;
  float: left;
  margin-right: 10px; }
  .toolbox-sw .toolbox__title--color.components {
    background-color: #cf1c22; }
  .toolbox-sw .toolbox__title--color.functions {
    background-color: #dd5a0a; }
  .toolbox-sw .toolbox__title--color.variables {
    background-color: #d9b032; }
  .toolbox-sw .toolbox__title--color.codes {
    background-color: #58b42d; }
  .toolbox-sw .toolbox__title--color.maths {
    background-color: #01c0c8; }
  .toolbox-sw .toolbox__title--color.texts {
    background-color: #0294cf; }
  .toolbox-sw .toolbox__title--color.controls {
    background-color: #11489a; }
  .toolbox-sw .toolbox__title--color.logics {
    background-color: #7c0dd6; }
  .toolbox-sw .toolbox__title--color.communications {
    background-color: #e30b9a; }
  .toolbox-sw .toolbox__title--color.classes {
    background-color: #9b0769; }
  .toolbox-sw .toolbox__title--color.zowi {
    background-color: #4e929b; }
  .toolbox-sw .toolbox__title--color.evolution {
    background-color: #94999C; }

.btn--zowi {
  background-color: #60bcc9;
  color: white; }

.btn--evolution {
  background-color: #BABFC3;
  color: white; }

.toolbox-hw .toolbox {
  width: 200px; }

.toolbox-hw .toolbox__list:after {
  width: 250px; }

.toolbox-hw svg {
  margin-right: 10px; }

.toolbox-hw .content__list__item {
  margin-bottom: 10px;
  text-align: left;
  padding: 20px; }

.toolbox-hw .toolbox__content {
  width: 200px; }

.toolbox-hw .toolbox__item__image {
  max-width: 150px;
  cursor: -webkit-grab; }

.toolbox-hw .toolbox__level--1 {
  width: 250px; }

.toolbox-hw .toolbox__content.active {
  width: 200px; }

.toolbox-hw .board-image {
  width: 175px;
  cursor: -webkit-grab; }

.toolbox-hw .component-image {
  max-width: 60%;
  cursor: -webkit-grab; }

.toolbox-hw .robot-image {
  width: 75px;
  cursor: -webkit-grab; }
