<div class="actionbar" ng-controller="ActionBarCtrl" ng-cloak>
  <div class="actionbar__menu__left">
    <dropdown tree="menuTree"></dropdown>
  </div>
  <div class="actionbar__menu__right">
    <ul class="actionbar__software__actions">
      <li class="actionbar__software__actions__item">
        <button class="actionbar__software__actions__item__button"  data-ng-disabled="isInProcess()" data-ng-class="{'btn--make--disabled':isInProcess()}" ng-click="actions.verifyCode()">
          <svg class="icon--medium icon--text">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#verificar"></use>
          </svg>
        </button>
      </li>
      <li class="actionbar__software__actions__item">
        <button class="actionbar__software__actions__item__button" data-ng-class="{'btn--make--disabled':isInProcess()}" ng-click="actions.loadToBoard()">
          <svg class="icon--medium icon--text">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cargar"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
