<ul class="dropdown__menu">
  <li role="menu" class="menu" ng-repeat="menu in tree">
    <button class="menu__heading" ng-mousedown="dropdown.select(menu.name)" ng-class="{'disabled': menu.disabled, 'active':dropdown.activeMenu === menu.name}">
      <h3>{{menu.name | translate}}</h3>
    </button>
    <ul role="group" class="menu__dropdown layer-7" ng-show="dropdown.activeMenu === menu.name">
      <li class="menu__dropdown__item" ng-repeat="item in menu.items">
        <button class="menu__dropdown__item__button" ng-class="{'disabled': item.disabled}" ng-mousedown="item.action(); dropdown.changeTitle(item); dropdown.closeDropdown()">
          <svg class="icon--vsmall icon--text">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{item.icon}}"></use>
          </svg>
          <span>{{item.name | translate}}</span>
        </button>
      </li>
    </ul>
    </div>
  </li>
</ul>
