$menu-item-hover-background: #ebebeb;

.actionbar {
  border-bottom: 1px solid $menu-item-hover-background;
  height       : 40px;

  button {
    transition: background-color 120ms;

    &:hover {
      background-color: $menu-item-hover-background;
    }
  }

  .actionbar__menu__left,
  .actionbar__menu__right {
    display       : inline-block;
    vertical-align: middle;
  }

  .menu {
    display : inline-block;
    position: relative;

    .menu__heading {
      display: block;
      padding: 20px 10px;

      &.active {
        background-color: $menu-item-hover-background;
      }

      &:hover {
        background-color: $menu-item-hover-background;
      }

      h3 {
        font-size     : $font-size-base;
        font-weight   : normal;
        pointer-events: none;
      }
    }

    .menu__dropdown {
      background-color: $color-white;
      border          : 1px solid $menu-item-hover-background;
      left            : 0;
      position        : absolute;
      top             : 40px;
      white-space     : nowrap;

      .menu__dropdown__item__button {
        padding   : 10px;
        text-align: left;
        width     : 100%;

        &.disabled {
          background-color: #cfcfcf!important;
          pointer-events  : none;
          color           : #666;
        }

        span {
          font-size  : $font-size-base;
          margin-left: 5px;
        }
      }
    }
  }

  .actionbar__menu__right {
    float: right;

    .actionbar__software__actions__item {
      display       : inline-block;
      float         : left;
      vertical-align: middle;

      .actionbar__software__actions__item__button {
        border       : 1px solid $menu-item-hover-background;
        border-bottom: 0;
        border-right : 0;
        padding      : 7px 15px;

        svg {
          fill: $bloqs-left-tabbar-color;
        }
      }
    }
  }
}

.btn--make--disabled {
  background-color: #cfcfcf!important;
  pointer-events  : none;
  color           : #666;
}
