$bloqs-tabs-icon-color: #797c81;
$bloqs-tabs-button-padding: 15px;
$bloqs-tabs-tablist-item-active-color: #ebebeb;
$bloqs-left-tabbar-color: #3b3e45;
$bloqs-tabs-width: 48px;
$bloqs-container-width: calc(100% - #{$bloqs-tabs-width});

.tab {
  overflow-y: auto;
  max-height: 100%;
}

.tablist {
  background-color: $bloqs-left-tabbar-color;
  display         : block;
  float           : left;
  height          : $main-content-with-header-height;
  width           : $bloqs-tabs-width;
}

.tabcontent {
  display         : block;
  float           : right;
  height          : $main-content-with-header-height;
  position        : relative;
  width           : $bloqs-container-width;
  background-color: #ebebeb;
}

.tabpanel {
  overflow: hidden;
}

.tablist__item.active {
  .tablist__item__button {
    background-color: #1e1f21;

    &:hover {
      svg {
        fill: $color-white;
      }
    }
  }

  svg {
    fill: $color-white;
  }
}

.tablist__item__button {
  border-bottom: 1px solid $bloqs-tabs-icon-color;
  padding      : $bloqs-tabs-button-padding;
  transition   : background-color $transition-duration;

  svg {
    fill      : $bloqs-tabs-icon-color;
    transition: fill $transition-duration;
  }

  &:hover {
    svg {
      fill: $color-white;
    }
  }
}
