$brand-secondary: #dddddd;

@mixin button($color) {
  background-color: $color;
  padding         : .8em 1em;
  border-radius   : .3em;
  min-width       : 145px;
  min-height      : 50px;
  line-height     : 27px;
  transition      : background-color 250ms;
  text-decoration : none;

  &:hover {
    transition     : background-color 250ms;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.btn--primary {
  color      : white;
  font-weight: bold;
  @include button($font-color-heading);

  &:hover {
    background-color: #26292f;
  }

  &:active {
    background-color: #000;
  }
}

.btn--secondary {
  color: black;
  @include button(#ebebeb);

  &:hover {
    background-color: $brand-secondary;
  }

  &:active {
    background-color: #d1d1d1;
  }
}

.btn--disabled {
  color: $font-color-disabled;
  @include button(#dbdee3);
}

.btn--small {
  max-height : 35px;
  min-height : 35px;
  line-height: 15px;
}

dropdown {
  .btn--dropdown {
    color        : $font-color-secondary;
    flex         : 1;
    text-align   : left;
    height       : 34px;
    font-style   : italic;
    min-width    : 70px;
    padding-right: .2em;
    padding-left : .5em;
    display      : flex;
    align-items  : center;
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow     : hidden;
    position     : relative;

    .dropdown__heading {
      font-style    : normal;
      display       : inline-block;
      vertical-align: middle;
      color         : #5d6069;
      cursor        : pointer;
      margin-left   : .2em;
      font-weight   : 400;
      max-width     : 100%;
      overflow      : hidden;
      white-space   : nowrap;
      text-overflow : ellipsis;
      padding-right : 10px;
    }

     :first-child {
      margin-left: 11px;
      font-style : normal;
    }
  }

  .btn--dropdown--active {
    color: $font-color-base;
  }
}

.btn--reset--zowi {
  background-color: white;
  border-radius   : 4px;
  padding         : 10px;
  margin          : 16px 16px 0;
  transition      : background-color 120ms;
  border          : 1px solid #cfcfcf;

  &:hover {
    background-color: #f3f3f3;
  }
}
