common-dropdown {
  display: block;
}

.dropdown__icon {
  width       : 10px;
  height      : 10px;
  fill        : $font-color-secondary;
  margin-right: .5em;
  margin-left : 1em;
  right       : 2px;
  position    : absolute;
  top         : 12px;
}

.dropdown--bottom {
  display    : flex;
  flex       : 1;
  flex-flow  : row wrap;
  align-items: center;
  position   :relative;
}

.dropwdown__menu {
  z-index                           : 9;
  -webkit-flex                      : 1 100%;
  -ms-flex                          : 1 100%;
  flex                              : 1 100%;
  display                           : flex;
  -webkit-flex-flow                 : row wrap;
  -ms-flex-flow                     : row wrap;
  flex-flow                         : row wrap;
  border-right                      : 1px solid #cfcfcf;
  border-left                       : 1px solid #cfcfcf;
  background-color                  : #fff;
  max-height                        : 275px;
  overflow-y                        : scroll;
  overflow-x                        : hidden;
}

.dropdown__menu__down {
  border-bottom                     : 1px solid #cfcfcf;
  -webkit-border-bottom-right-radius: .3em;
  -webkit-border-bottom-left-radius : .3em;
  -moz-border-radius-bottomright    : .3em;
  -moz-border-radius-bottomleft     : .3em;
  border-bottom-right-radius        : .3em;
  border-bottom-left-radius         : .3em;
}

.dropdown__menu__up {
  border-top                        : 1px solid #cfcfcf;
  -webkit-border-top-right-radius   : .3em;
  -webkit-border-top-left-radius    : .3em;
  -moz-border-radius-topright       : .3em;
  -moz-border-radius-topleft        : .3em;
  border-top-right-radius           : .3em;
  border-top-left-radius            : .3em;
  position                          : absolute;
  left                              : 0px;
}

.dropdown__menu__item {
  flex         : 1 100%;
  padding-left : 1em;
  border-bottom: 1px solid #e4e4e4;
  color        : $font-color-base;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: #ebebeb;
    cursor          : pointer;
  }

  button {
    min-height: 34px;
    width     : 100%;
    text-align: left;
  }
}

.dropdown--small {
  .dropwdown__menu {
    max-height: 175px;
  }
}

.dropdown--disabled {
  background-color: #ebebeb;
  pointer-events  : none;
}

.dropdown__item--separator {
    border-bottom: 1px solid #dadada;
    margin-top: .5em;
    margin-bottom: .5em;
}

.form--select {
    border-radius: .3em;
    border       : 1px solid #cfcfcf;
    min-height   : 34px;
    max-height   : 34px;
    color        : $font-color-secondary;
    display      : flex;
}
