.serial--panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #CECDCD;
}

.serial--send--content {
  display: flex;
  width: 100%;
}

.serial--send--input {
  flex: auto;
  margin-right: 10px;
  padding: 5px;
}

.serial--textArea {
  resize: none;
  width: 100%;
  position: absolute;
  height: 100%;
  padding: 5px;
}

.serial--form-control {
  margin-bottom: 1em;
}