.h1 {
  font-size: $font-size-h1;
}

.h2 {
  font-size: $font-size-h2;
}

.h3 {
  font-size: $font-size-h3;
}

body {
  color      : $font-color-base;
  font-family: $font-family-base;
  font-size  : $font-size-base;
}
