$toobox-icons-color: #b9bdc8;
$toobox-item-border-color: #edf1f2;
$toolbox-content-item-height: calc(100vh - 40px);
$toolbox-hw-width: 200px;
$toolbox-hw-width-level-1: 250px;
$toolbox-width: 250px;
$toolbox-sw-width-inactive-1: 450px;
$toolbox-sw-width-inactive-2: 500px;
$toolbox-sw-width-level-1: 450px;
$toolbox-content-active: 400px;
$toolbox-content-inactive: 450px;

.toolbox-shadow {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
  width   : 100%;
  height  : 100%;
  z-index : 2;

  &.level--1 {
    background-color: rgba(55,59,68,.6);
    pointer-events  : none;
  }

  &.level--2 {
    background-color: rgba(255,255,255,.1);
  }
}

.toolbox {
  background-color: $color-white;
  border-left     : 1px solid $toobox-item-border-color;
  height          : 100%;
  position        : absolute;
  right           : 0;
  top             : 0;
  z-index         : 7;
  transition      : width 250ms;

  &.active {
    width: $toolbox-width;
  }

  &.inactive--1 {
    width: $toolbox-sw-width-inactive-1;
  }

  &.inactive--2 {
    width: $toolbox-sw-width-inactive-2;
  }
}

.toolbox__content {
  background-color: $color-white;
  position        : absolute;
  right           : 0;
  top             : 0;

  &.active {
    z-index: 3;
    width  : $toolbox-content-active;
  }

  &.inactive {
    width: $toolbox-content-inactive;

    &:after {}
  }

  &.level--2 {
    width  : $toolbox-content-active;
    z-index: 3;
  }

  .content__list {
    height  : calc(100vh - 85px);
    overflow: auto;

    &.has-advanced {
      height: calc(100vh - 147px);
    }
  }
}

.toolbox__content__item {
  border-left: 1px solid $toobox-item-border-color;
  text-align : center;
  height     : calc(100vh - 42px);

  h3,
  .title {
    text-align: left;
  }

  h3 {
    border-bottom: 1px solid $toobox-item-border-color;
    padding      : 16px 10px;
  }

  .title {
    padding: 10px;
  }
}

.toolbox__list__item__button {
  border-bottom: 1px solid $toobox-item-border-color;
  text-align   : left;
  width        : 100%;
  height       : 50px;
  line-height  : 50px;

  svg {
    margin-left: 10px;
    fill       : $toobox-icons-color;
  }

  &.last {
    position: absolute;
    bottom  : 0;
    right   : 0;
  }
}

.toolbox__advanced__button {
  padding-left: 10px;
  border-top  : 1px solid #edf1f2;
  width       : 100%;
  transition  : background-color 120ms;

  &:hover {
    background-color: #fbfbfb;
  }
}
