$toobox-icons-color: #b9bdc8;
$toobox-item-border-color: #edf1f2;
$toolbox-content-item-height: calc(100vh - 100px);
$toolbox-hw-width: 200px;
$toolbox-hw-width-level-1: 250px;
$toolbox-sw-width: 250px;
$toolbox-sw-width-level-1: 450px;

.toolbox-hw {
  .toolbox {
    width: $toolbox-hw-width;
  }

  .toolbox__list {
    &:after {
      width: $toolbox-hw-width-level-1;
    }
  }

  .toolbox__content {
    width: $toolbox-hw-width;
  }

  .toolbox__item__image {
    max-width: 150px;
  }

  .toolbox__level--1 {
    width: $toolbox-hw-width-level-1;
  }

  .toolbox__content {
    &.active {
      width: $toolbox-hw-width;
    }
  }
}

.toolbox-sw {
  .toolbox {
    width: $toolbox-sw-width;
  }

  .toolbox__list {
    &:after {
      width: $toolbox-sw-width-level-1;
    }
  }

  .toolbox__content {
    width: $toolbox-sw-width;
  }

  .toolbox__item__image {
    max-width: 150px;
  }

  .toolbox__level--1 {
    width: $toolbox-sw-width-level-1;
  }

  .toolbox__content {
    &.active {
      width: 400px;
    }
  }

  .content__list {
    padding-top: 10px;
  }

  .content__list__item {
    text-align: left;
    padding   : 5px 15px;
  }
}

.toolbox {
  background-color: $color-white;
  border-left     : 1px solid $toobox-item-border-color;
  height          : 100%;
  position        : absolute;
  right           : 0;
  top             : 0;
  z-index         : 7;
}

.toolbox__level--1 {
  .toolbox__list {
    &:after {
      background-color: $color-black;
      content         : '';
      height          : 100%;
      opacity         : .5;
      pointer-events  : none;
      position        : absolute;
      right           : 0;
      top             : 0;
    }
  }
}

.toolbox__content {
  background-color: $color-white;
  position        : absolute;
  right           : 0;
  top             : 0;

  &.active {
    height    : 100%;
    overflow-y: auto;
  }
}

.content__list {
  height    : $toolbox-content-item-height;
  overflow-y: auto;
}

.content__list__item {
  margin-bottom: 10px;

  .bloq {
    position: relative;
  }
}

.toolbox__content__item {
  border-left: 1px solid $toobox-item-border-color;
  text-align : center;

  h3,
  .title {
    text-align: left;
  }

  h3 {
    border-bottom: 1px solid $toobox-item-border-color;
    padding      : 16px 10px;
  }

  .title {
    padding: 10px;
  }
}

.toolbox__list__item__button {
  border-bottom: 1px solid $toobox-item-border-color;
  padding      : 10px;
  text-align   : left;
  width        : 100%;

  svg {
    fill: $toobox-icons-color;
  }

  span {
    margin-left: 10px;
  }
}
