$toobox-icons-color: #b9bdc8;
$toobox-item-border-color: #edf1f2;
$toolbox-content-item-height: calc(100vh - 40px);
$toolbox-hw-width: 200px;
$toolbox-hw-width-level-1: 250px;
$toolbox-width: 250px;
$toolbox-sw-width-inactive-1: 450px;
$toolbox-sw-width-inactive-2: 500px;
$toolbox-sw-width-level-1: 450px;
$toolbox-content-active: 400px;
$toolbox-content-inactive: 450px;
$toolbox-shadow-dark: rgba(55, 59, 68, .6);
$toolbox-shadow-light: rgba(177, 177, 177, 0.44);
$toolbox-transition-duration: 250ms;
$toolbox-content-list-height: calc(100vh - 85px);
$toolbox-content-list-height-with-advanced: calc(100vh - 147px);
$toolbox-content-list-item-height: calc(100vh - 42px);
$toolbox-advanced-border-color: #edf1f2;
$toolbox-advanced-button-hover-color: #fbfbfb;

.toolbox-shadow {
  width : 100%;
  height: 100%;

  &.level--1 {
    background-color: $toolbox-shadow-dark;
    pointer-events  : none;
  }

  &.level--2 {
    background-color: $toolbox-shadow-light;
  }
}

.toolbox {
  position        : absolute;
  background-color: $color-white;
  border-left     : 1px solid $toobox-item-border-color;
  height          : 100%;
  right           : 0;
  top             : 0;
  transition      : width $toolbox-transition-duration;
  will-change: transform;

  &.active {
    width: $toolbox-width;
  }

  &.inactive--1 {
    width: $toolbox-sw-width-inactive-1;
  }

  &.inactive--2 {
    width: $toolbox-sw-width-inactive-2;
  }
}

.toolbox__content {
  background-color: $color-white;
  position        : absolute;
  right           : 0;
  top             : 0;
  will-change: transform;
  transition      : width $toolbox-transition-duration;

  &.active {
    z-index: 3;
    width  : $toolbox-content-active;
  }

  &.inactive {
    width: $toolbox-content-inactive;
  }

  &.level--2 {
    width  : $toolbox-content-active;
    z-index: 3;
  }

  .content__list {
    height    : $toolbox-content-list-height;
    overflow  : auto;
    overflow-x: hidden;

    &.has-advanced {
      height: $toolbox-content-list-height-with-advanced;
    }
  }
}

.toolbox__content__item {
  border-left: 1px solid $toobox-item-border-color;
  text-align : center;
  height     : $toolbox-content-list-item-height;

  h3,
  .title {
    text-align: left;
  }

  h3 {
    border-bottom: 1px solid $toobox-item-border-color;
    padding      : 16px 10px;
  }

  .title {
    padding: 10px;
  }

  &.components > .content__list{
    height: 100%;
  }

  &.advanced__bloqs > .content__list {
    height: calc(100vh - 100px);
  }
}

.toolbox__list__item__button {
  border-bottom: 1px solid $toobox-item-border-color;
  text-align   : left;
  width        : 100%;
  height       : 50px;
  line-height  : 50px;

  svg {
    margin-left: 10px;
    fill       : $toobox-icons-color;
  }

  &.last {
    position: absolute;
    bottom  : 0;
    right   : 0;
  }
}

.toolbox__advanced__button {
  padding-left: 10px;
  border-top  : 1px solid $toolbox-advanced-border-color;
  width       : 100%;
  transition  : background-color $transition-duration;

  &:hover {
    background-color: $toolbox-advanced-button-hover-color;
  }
}
