**/.pioenvs/
**/src/main.cpp
**/src/main.ino
**/info.log
**/web2boardLauncher.log
**/config.json
**/res/integrationTestReport.html
**/res/unitTestReport.html
**/info.log.*
**/res/TestSettings
web2board-config.json
**/platformioWS*/