<div>

    <div class="form" style="min-width: 500px">
        <div class="form">
            <form name="form" autocomplete="on" novalidate>
                <fieldset style="margin:10px">
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-series="series"
                            chart-click="onClick" chart-options="chartOptions">
                    </canvas>
                    <!-- Submit Form -->
                    <div>
                        <button class="btn btn--secondary btn--small" ng-click="onPause()">{{pauseText}}</button>
                        <button class="btn btn--secondary btn--small" ng-click="onClear()">Clear</button>
                        <common-dropdown options="baudrateOptions" class="plotter--dropdown"
                                         heading-option="serial.baudrate"
                                         options-click="onBaudrateChanged"></common-dropdown>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
