$toobox-icons-color: #b9bdc8;
$toobox-item-border-color: #edf1f2;
$toolbox-content-item-height: calc(100vh - 40px);
$toolbox-hw-width: 200px;
$toolbox-hw-width-level-1: 250px;
$toolbox-sw-width: 250px;
$toolbox-sw-width-level-1: 450px;

.toolbox-hw {
  .toolbox {
    width: $toolbox-hw-width;
  }

  .toolbox__list {
    &:after {
      width: $toolbox-hw-width-level-1;
    }
  }

  .content__list__item {
    text-align: left;
    padding   : 20px;
  }

  .toolbox__content {
    width: $toolbox-hw-width;
  }

  .toolbox__item__image {
    max-width: 150px;
  }

  .toolbox__level--1 {
    width: $toolbox-hw-width-level-1;
  }

  .toolbox__content {
    &.active {
      width: $toolbox-hw-width;
    }
  }

  .board-image {
    width: 175px;
  }

  .component-image {
    max-width: 60%;
  }
}

.toolbox-sw {
  .toolbox {
    width: $toolbox-sw-width;
  }

  .toolbox__list {
    &:after {
      width: $toolbox-sw-width-level-1;
    }
  }

  .toolbox__content {
    width: $toolbox-sw-width;
  }

  .toolbox__item__image {
    max-width: 150px;
  }

  .toolbox__level--1 {
    width: $toolbox-sw-width-level-1;
  }

  .toolbox__content {
    &.active {
      width: 400px;
    }
  }

  .content__list {
    padding-top: 10px;
  }

  .content__list__item {
    text-align: left;
    padding   : 5px 15px;
  }

  .toolbox__title {
    display: block;
    width  : calc(100% - 20px);
    float  : left;
  }

  .toolbox__title--color {
    height      : 100%;
    display     : block;
    width       : 10px;
    float       : left;
    margin-right: 10px;

    &.components {
      background-color: #cf1c22;
    }

    &.functions {
      background-color: #dd5a0a;
    }

    &.variables {
      background-color: #d9b032;
    }

    &.codes {
      background-color: #58b42d;
    }

    &.maths {
      background-color: #01c0c8;
    }

    &.texts {
      background-color: #0294cf;
    }

    &.controls {
      background-color: #11489a;
    }

    &.logics {
      background-color: #7c0dd6;
    }

    &.communications {
      background-color: #e30b9a;
    }

    &.classes {
      background-color: #9b0769;
    }
  }
}

.toolbox {
  background-color: $color-white;
  border-left     : 1px solid $toobox-item-border-color;
  height          : 100%;
  position        : absolute;
  right           : 0;
  top             : 0;
  z-index         : 7;
}

.toolbox__level--1 {
  .toolbox__list {
    &:after {
      background-color: $color-black;
      content         : '';
      height          : 100%;
      opacity         : .5;
      pointer-events  : none;
      position        : absolute;
      right           : 0;
      top             : 0;
    }
  }
}

.toolbox__content {
  background-color: $color-white;
  position        : absolute;
  right           : 0;
  top             : 0;

  &.active {
    height    : 100%;
    overflow-y: auto;
  }
}

.content__list__item {
  margin-bottom: 10px;

  .bloq {
    position: relative;
  }
}

.toolbox__content__item {
  border-left: 1px solid $toobox-item-border-color;
  text-align : center;

  h3,
  .title {
    text-align: left;
  }

  h3 {
    border-bottom: 1px solid $toobox-item-border-color;
    padding      : 16px 10px;
  }

  .title {
    padding: 10px;
  }
}

.toolbox__list__item__button {
  border-bottom: 1px solid $toobox-item-border-color;
  text-align   : left;
  width        : 100%;
  height       : 50px;
  line-height  : 50px;

  svg {
    margin-left: 10px;
    fill       : $toobox-icons-color;
  }
}
