<div data-ng-controller="BloqsProjectCtrl as bloqsProject">
  <div class="header" ng-controller="ActionBarCtrl">
    <ul class="header__menu__left">
      <li>
        <dropdown tree="menuTree"></dropdown>
      </li>

    </ul>
    <ul class="header__menu__right">
      <li>
        <button ng-click="verifyCode()">
          <span>Verificar</span>
        </button>
      </li>
    </ul>
  </div>
  <tabset>
    <tab heading="Hardware">
      <p>hardware</p>
    </tab>
    <tab heading="Software">
      <div class="container software" data-ng-include="'views/bloqsTab.html'">
    </tab>
  </tabset>
  </div>
</div>
