<div class="plotter">
    <nvd3 id="chart" options="chartOptions" data="data" class="with-3d-shadow with-transitions"></nvd3>
    <!-- Submit Form -->
    <div>
        <button class="btn btn--secondary btn--small" ng-click="onPause()">{{pauseText}}</button>
        <button class="btn btn--secondary btn--small" ng-click="onClear()">{{'plotter-clear' | translate}}</button>
        <common-dropdown options="baudrateOptions" class="plotter--dropdown"
                         heading-option="serial.baudrate"
                         options-click="onBaudrateChanged"
                         direction="up"></common-dropdown>
    </div>
</div>
