<div data-ng-controller="SoftwareTabCtrl" data-ng-keyup="onFieldKeyUp($event)" ng-cloak>

  <div id="bloqs--field" ng-class="{'theme-colors':project.defaultTheme === 'infotab_option_colorTheme', 'theme-basic':project.defaultTheme === 'infotab_option_grayTheme' || !project.defaultTheme}">
    <div ng-include="'views/toolbox-sw.html'"></div>
    <scrollbar class="software--scroll" type="'horizontal'" target=".field--content > .bloq--extension__content" container=".field--content"></scrollbar>
    <scrollbar class="software--vscroll" type="'vertical'" bind-only="true" target="#bloqs--field" container=".software"></scrollbar>
    <div id="empty"></div>
    <div id="bloqs-context-menu">
      <ul>
        <li>
          <button data-ng-click="duplicateBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-duplicate-bloq' | translate }}</button>
        </li>
        <li>
          <button data-ng-show="!contextMenuBloq.itsEnabled() && !contextMenuBloq.itsFree()" data-ng-click="enableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-enable-bloq' | translate }}</button>
        </li>
        <li>
          <button data-ng-show="contextMenuBloq.itsEnabled()" data-ng-click="disableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-disable-bloq' | translate }}</button>
        </li>
        <li class="dropdown__item--separator"></li>
        <li>
          <button data-ng-click="removeBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-remove-bloq' | translate }}</button>
        </li>
      </ul>
    </div>
    <button ng-if="project.hardware.robot === 'zowi'" class="btn--reset--zowi" ng-click="resetZowi()">
      <svg class="icon--vsmall icon--text">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versionAnterior"></use>
      </svg>
      <span>{{ 'button_zowi_rest' | translate}}</span>
    </button>
  </div>
</div>
